{% extends "::base.html.twig"%}
{% set totalTTC = 0%}

{% block body %}
	{% include '::menu.html.twig' %}
    <div class="row">
        <div class="span4 col-md-offset-4 col-md-4">
        	{% include 'MultiServiceGsmFrontBundle:Panier:pageValidation.html.twig' %}
        </div>
    </div>
	{% include '::footer.html.twig' %}
{% endblock body %}