{% extends "@FOSUser/layout1.html.twig" %}
{% block ads%}
	

		<div class=" col-sm-6">
			{% block fos_user_content %}
				{% include "@FOSUser/Profile/show_content.html.twig" %}
			{% endblock fos_user_content %}
		</div>

		<div class="col-sm-6">
			{% block fos_user_content1 %}		
					<div style="padding-bottom:20px;">
						<button type="buttton" class="btn btn-secondary">
							<a href=" {{path('fos_user_profile_edit')}}">Modifier votre profil</a>
						</button>
					</div>
					<br>
					<div style="padding-bottom:20px;">
						<button type="buttton" class="btn btn-secondary">
							<a href=" {{path('fos_user_change_password')}}">changer votre mot de passe</a>
						</button>
					</div>
					<br>
					<div style="padding-bottom:20px;">
						<button type="buttton" class="btn btn-secondary">
							<a href=" ">afficher votre historique de commande</a>
						</button>
					</div>
					<br>
					<div style="padding-bottom:20px;">
						<div class="alert alert-warning">
							<strong>Attention!!! l'action de supprimer votre compte  est irréversible.</strong>
						</div>
						<form type="buttton" class="btn btn-warning"
							onClick="confirm('etes vous sur(e)?')">
							<a href="">supprimer votre compte</a>

						</form>
					</div>
			{% endblock fos_user_content1 %}
		</div>

{% endblock ads%}