{% extends "@FOSUser/layout1.html.twig" %}
{% block ads%}
	

		<div class=" col-sm-6">
			{% block fos_user_content %}
				<h2>profil d'inscription</h2>
				{% include "@FOSUser/Profile/show_content.html.twig" %}
		
				{% include '/Utilisateur/profilU.html.twig' %}
			{% endblock fos_user_content %}
		</div>

		<div class="col-sm-6">
			{% block fos_user_content1 %}		
					<div style="padding-bottom:20px;">
						<form type="button" class="btn btn-default">
							<a type="button" href="{{ path('fos_user_profile_edit') }}">Modifier votre profil d'inscription</a>
						</form>
					</div>
					<br>
					<div style="padding-bottom:20px;">
						<form type="button" class="btn btn-default">
							<a href=" {{path('fos_user_change_password')}}">Changer votre mot de passe</a>
						</form>
					</div>
				
					<br>

					<div style="padding-bottom:20px;">
							<form type="button" class="btn btn-default">
								<a href="{{ path('multi_service_gsm_user_facture')}}">Afficher votre liste de facture</a>
							</form>
					</div>
					{#}
						<i class="fa fa-info-circle" aria-hidden="true">
							<strong>Attention!!! l'action de supprimer votre compte  est irréversible.</strong>
						</i>
						<form type="button" class="btn btn-warning"
							onClick="return confirm('etes vous sur(e)?')">
							<a href="{{ path('multi_service_gsm_user_delete',{'id' : user.id } ) }}">supprimer votre compte</a>

						</form>
					{#}
			{% endblock fos_user_content1 %}
		</div>

{% endblock ads%}