{% extends "@FOSUser/layout.html.twig" %}

{% block fos_user_content %}

		<div class="row well">
			{{ form_start(form) }}
				{{ form_widget(form) }}
				<input type="submit" value="Ajouter" />
			{{ form_end(form) }}

		</div>


{% endblock fos_user_content %}
