{#affiche que les modele#}
{% extends '::base.html.twig' %}
{% block body %}
	
{% include ( '::menu.html.twig')  %}

<div class="container">
	{% include ( '::menuStep.html.twig')  %}
	<div class=" row col-md-12" style="padding-left:0px;padding-right:0px;">

		<div class="col-md-4">
			{% include 'MultiServiceGsmFrontBundle:Default:affichDevis.html.twig'%}
		</div>

		 <div class="col-md-8" style="padding-left:0px;padding-right:0px;">
			{% include ( 'MultiServiceGsmFrontBundle:Default:pageModele.html.twig' ) %}
		</div>

	</div>
	
</div>

{% include ( '::footer.html.twig' ) %}

{% endblock %}
