<div class="container">
	<header class="page-header">
		<h1>Réparations d'Iphone</h1>
	</header>
	<div class="row">
		<div class="col-lg-12">
			{% if modeles is defined %}
				{% for modele in modeles where marque_id==1 %}
					pppo
				{% endfor %}
			{% endif %}
		</div>
	</div>
</div>