 {% if marques is defined %}
 	<div>
 		{% for marque in marques %}
 			<p>
 					Marques
 			</p>
			 <div class="item">
			        <img src="{{ asset(public/images/'~marque.nomMarque~'.jpg) }}" />
			        <p>{{marque.nomMarque}}</p>
			   
			 </div>
			{% endfor %}
	</div>
{% endif %}