<div class="step">
  <div class="setpbar"></div>
  <div class="step1">
    <div class="bull"></div>
    <a href="{{ path('multi_service_gsm_front_marques') }}" title="Marque">Marque</a>
  </div>
  <div class=" step1 step2">
    <div class="bull"></div>
    <a href="#" title="Marque">Modèle</a>
  </div>
  <div class="step1 step3">
    <div class="bull"></div>
    <a href="#" title="Marque">panne</a>
  </div>
  <div class=" step1  step4">
    <div class="bull"></div>
    <a href="#" title="Marque">Réparations</a>
  </div>
</div>
 {% if marques is defined %}

  <div >
        <h1 style="background:white;padding-bottom:20px;">Liste des marques réparées</h1>
        {% for marque in marques %}
           <div class=" col-xs-12 col-sm-3 col-md-3 rep">
                  <section class="rep1">
                   <a href="{{ path('multi_service_gsm_front_appl', {'slug':marque.slug } ) }}">
              
                    <img src="{{ asset('images/'~marque.slug~'.jpg') }}" />
                   </a>
                    <p >{{marque.slug}}</p>
                  </section>
           </div>
          {% endfor %}
  </div>
{% endif %}
