
	 <div  style="background-color: #C2B8B7;">
	 	<header class="page-header">
			<h1>Réparation</h1>
		</header>
	 
	 		<div class="col-lg-12">
	 			<div class="spe">
		 			<div class="col-lg-4 sp1">
			 			<p>
			 				Nous réparons en 30 minutes <strong>les Iphones 5,5S,5C,SE,6,6+,6S,6S+,7S,7+,</strong>
			 			</p>
			 			<p> ainsi que <strong>les Samsung Galaxy S6,S6 Edge, S7, S7 Edge.</strong></p>
			 			<p><strong>ET SUR PLACE!!!</strong></p>
			 			<p>(le temps de reparation est à titre indicatif)</p>

			 		</div>
			 		<div class="col-lg-8">
			 		{% image '@MultiServiceGsmFrontBundle/Resources/public/images/galaxyS7.jpg' %}
      				  <img src="{{ asset_url }}" alt="s7" class="img-thumbnail">
      				{% endimage %}	
			 		</div>
		 		</div>	 	
		 </div>
	</div>


