<div id="smartwizard">
 
            <ul>
 
                <li><a href="#step-1">Step 1</a></li>
 
                <li><a href="#step-2">Step 2</a></li>
 
                <li><a href="#step-3">Step 3</a></li>
 
                <li><a href="#step-4">Step 4</a></li>
 
            </ul>
 			
 			<div>
 
                <div id="step-1" class="">
 
                    <h2>Marque</h2>
 
                    <div>Choix de la marque</div>
 
                </div>
 
                <div id="step-2" class="">
 
                    <h2>Modele</h2>
 
                    <div>Choix du modèle</div>
 
                </div>
 
                <div id="step-3" class="">
 
                     <h2>Choix de la réparation à effectuer </h2>
 
                </div>
 
                <div id="step-4" class="">
 
                    <h2>Tarif de la réparation choisie</h2>
                 
                </div>

            </div>
</div>