


    <div class=" text-center  linet hidden-xs ">
              <div  style="padding-left:0px;padding-right:0px; text-align:center;">

                <article class="col-md-3 prestasize title " >
                    <a class="padis" href="#"  ><font size="3"><span class="fa fa-list-alt" aria-hidden=true></span> Réalisation d'un devis et diagnostic</font>
                    <br>
                    </a>
                     <strong><span>Gratuit</span></strong>
                </article>
                <aricle class="col-md-3 prestasize title">
                    <a class="padis" href="{{ path('multi_service_gsm_front_info') }}" ><font  size="3"> <span class=" fa fa-clock-o" aria-hidden="true"></span>Réparation de smartphone </font>
                    <br>
                    </a>
                    <strong><span><font color="red">En 30 minutes, sur place</font></span></strong>
                </aricle>


                <article class="col-md-3 prestasize title">
                  <a class="padis" href="{{ path('multi_service_gsm_front_localisation') }}"  ><font size="3"><span class="fa fa-phone" aria-hidden="true"></span> nous contacter </font>
                   <br>
                   </a>
                   <strong><span>au (+33) 02 38 80 26 43</span></strong>
                </article>

              </div>
    </div>
    
        {% for key, messages in app.session.flashbag.all() %}
          {% for message in messages %}
              <div class="alert alert-{{ key }}">
                      {{ msg }}
              </div>
          {% endfor %}
         {% endfor %}

