<div class="row text-center  linet ">
  <div class="col-lg-12">

  	A completer
  		A completer
  			A completer
  				A completer
  					A completer
  						A completer
  							A completer
  								A completer
  									A completer
  										A completer
  											A completer
  												A completer
  													A completer	A completer
  														A completer
  															A completer	A completer
  																A completer
  																	A completer
  																		A completer
  																		
  </div>
</div>