 <div >
    <h3>Adresse(s) postale(s)</h3>        
    <br>
    <div style="padding-bottom:20px;" >
        <form type="button" class="btn btn-default">
            <a href="{{path('multi_service_gsm_user_adresse')}}">ajouter une adresse postale</a>
        </form>
    </div>
    <br>
   
    <br>
    <div style="padding-bottom:20px;" >
        <form type="button" class="btn btn-default">
            <a href="{{path('multi_service_gsm_user_show_adresse')}}">afficher les adresses postales</a>
        </form>
    </div>
</div>
