{% extends '::base.html.twig' %}

{% block body %}
	<div class="total">
		<div class="col-sm-12">
			{% include '::menu.html.twig' %}
		</div>
		<div class="col-sm-12">
			{% include '::pageAcceuil.html.twig'%}
		</div>
		<div class="col-sm-12">
			{% include '::affichLogo.html.twig'%}
		</div>
		<div class="col-sm-12" >
			{% include '::footer.html.twig' %}
		</div>
	</div>
{% endblock %}
