{% extends '::base.html.twig' %}

{% block body %}
{% include '::menu.html.twig'  %}
	<div class="container">
	
		{% include '::affichLogo.html.twig' %}
	</div>
{% include '::footer.html.twig' %}
{% endblock %}
