
			{% if modeles is defined %}
				{% set var=1%}
				{% for modele in modeles %}
					{% if var==1 %}
						<h1>{{modele.marque}}</h1>
						{% set var=2%}
					{% endif %}
					<div class="col-xs-12 col-sm-4 col-md-2 rep">
	                  	<section class="rep1">
	                  		<a href="{{ path('multi_service_gsm_front_model_reparation', {'marque':(modele.marque).slug, 'modele': modele.slug } ) }}">
		                  	<img src="{{ asset('images/'~modele.slug~'.jpg') }}" /> </a>
		                    <p class"nam">{{modele.slug}}</p>
		                </section>
	              </div>
				{% endfor %}
			{% endif %}