{% extends '::base.html.twig' %}

{% block body %}
<div  style="background-color: #C2B8B7;">	
{% include '::menu.html.twig'  %}
{% include '::infominut.html.twig' %}
{% include '::footer.html.twig' %}
</div>
{% endblock %}
