
		{% if reparations is defined %}
			
			    {% for repartion in reparations %}
			    	{% if var==1 %}
			    			<h1>{{modele.marque}}</h1>
						{% set var=2%}
			    {% endfor %}
			   
		{% endif %}
