
		{% if tarifs is defined %}
			
				{% set var=1%}
			    {% for tarif in tarifs %}
			    	{% if var==1 %}
			    			<h1>{{tarif.model}}</h1>
						{% set var=2%}
					{% endif %}
						<div class="col-xs-12 col-sm-4 col-md-2 rep">
	                  	<section class="rep1">
	                  		<a href="{{ path('multi_service_gsm_front_fiche_reparation', {'marque':((tarif.model).marque).slug, 'modele': (tarif.model).slug,'reparation':tarif.reparation } ) }}">
		                  		<img src="{{ asset('images/reparations/'~tarif.reparation~'.png') }}" /> 
		                  	</a>
		                    <p class"nam">{{tarif.reparation}}</p>
		                </section>
	              </div>
			    {% endfor %}
			   
		{% endif %}
